{{#extends "base"}}
{{#block "content"}}

<h1>Our Posters</h1>
<p>Explore our collection of posters</p>
<a href="/posters/create" class="btn btn-sm btn-primary">Add New</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Date</th>
            <th>Stock</th>
            <th>Dimensions H by W</th>
            <th>Media</th>
            <th>Tags</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each posters}}
        <tr>
            <td>{{this.title}}</td>
            <td>${{divide this.cost 100}}</td>
            <td>{{this.description}}</td>
            <td>{{moment this.date format="YYYY-MM-DD"}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.height}}cm by {{this.width}}cm</td>
            <td>{{this.mediaProperty.name}}</td>
            <td>{{#each this.tags}} <span class="badge bg-dark">{{this.name}}</span> {{/each}}</td>
            <td><a href="/posters/{{this.id}}/update" class="btn btn-sm btn-primary">Update</a></td>
            <td><a href="/posters/{{this.id}}/delete" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}
{{/extends}}